body {
    background-color: #edddc4;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fd/EscportalW_Music_transparent.png");
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, fantasy
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #0067a5;
	line-height: 19.99px; 
}

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color: #0067a5;
	line-height: 26.4px;
}

label {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, fantasy;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #0067a5;
	line-height: 19.99px; 
}

/* below here are the settings for the menu display */
/* see http://www.w3schools.com/css/css_navbar.asp for examples */
menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #051e68;
}

li {
    float: left;
}

li a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, fantasy;
	font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

.container {
        width: 500px;
        clear: both;
}
    
.container input {
        width: 100%;
        clear: both;
}
